<div class="home-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="card text-center">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=Network Brand Photo&w=300&h=100" alt="...">
                    <div class="card-block">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=12&txt=75%C3%9775&w=75&h=75" alt="..." class="rounded-circle">
                        <p class="card-text">Dmytro Pavlenko</p>

                        <small class="text-muted">Credo : Miracles miracles ....Miracles miracles ....Miracles miracles ....</small>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Position : President</small>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-header">
                        <small class="text-muted">Common Actions</small>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">Create network</a>
                        <a href="#" class="list-group-item list-group-item-action">Add to exciting</a>
                        <a href="#" class="list-group-item list-group-item-action">Manage networks</a>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card w-100 text-center">
                    <div class="card-header">
                        <small class="text-muted">Networks Common Information</small>
                    </div>
                    <div class="card-block">
                        <ul class="list-group">
                            <li class="list-group-item">Count Networks: 22</li>
                            <li class="list-group-item">Active Networks: 12</li>
                            <li class="list-group-item">Passive Networks: 4</li>
                            <li class="list-group-item">Disabled Networks: 8</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                           
                    </div>
                     <network-monitor-component></network-monitor-component>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card w-100 text-center">
                    <div class="card-header">
                        <small class="text-muted">Network Nodes Rank</small>
                    </div>
                    <div class="card-block">
                        <h3 class="card-title">Welcome</h3>
                        <p class="card-text">To continue please login.</p>

                        <a href="#" class="btn btn-primary">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>